<header>
  <div class="logo">
    <h1>Sarath Chandran</h1>
    <!-- <p>Full Stack Developer</p> -->
  </div>
    <nav>
      
     
        <ul>
          <li><a (click)="aboutme()" >ABOUT ME</a></li>
          <li><a  (click)="resume()">RESUME</a></li>
          <li><a  >PROJECTS</a></li>
          <li><a  (click)="contact()">CONTACT</a></li>
        </ul>
    </nav>
  </header>

  <section id="projects">
    <h2>Projects</h2>
    <div class="project-container">
      <div class="project-card">
        <img src="india-2575354_1280.jpg" alt="Fitness App">
        <div class="project-info">
          <h3>Trainiac</h3>
          <p>Provide Assistance for Online Fitness Trainers</p>
          <ul>
            <li>Manage client workouts and offer guidance via video calls.</li>
            <li>Integration with Razorpay and Google Recaptcha.</li>
            <li>Built using Angular, JavaScript, MongoDB, and more.</li>
          </ul>
           <a href="https://trainiac-frontend.vercel.app"><button class="view-site"> View Site </button></a>
        </div>
      </div>

      <div class="project-card">
        <img src="ecommerce-4849055_1280.jpg" alt="Ecommerce App">
        <div class="project-info">
          <h3>Vrna</h3>
          <p>Ecommerce platform</p>
          <ul>
            <li>Clothing shopping website for men and women.</li>
            <li>Features real-time orders and analytics.</li>
            <li>Built with JavaScript, MongoDB, Node.js, and Express.</li>
          </ul>
          <a href="https://ecommerce.vrna-ecom.store/user/login"><button class="view-site">  View Site </button></a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Sarath Chandran. All rights reserved.</p>
  </footer>
